.App {
  text-align: center;
  scroll-behavior: smooth;
}

.container {
  position: relative;
  width: 100%;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  user-select: none;
  cursor: pointer;
  display: flex;
  overflow-x: scroll;
}
.container.active {
  background: rgba(255, 255, 255, 0.3);
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.item {
  display: inline-block;
  background: midnightblue;
  min-height: 250px;
  min-width: 400px;
  margin: 2em 1em;
}
